.header {
	height: 105px;
	width: 100vw;
	padding-left: 20px;
	background: #fff;
	top: 0;
	padding-top: 40px;
	display: flex;
	font-size: 13px;
	border-bottom: 1px solid #e4e1e1;
	position: fixed;
	justify-content: space-around;
	z-index: 999;
}
.brand {
	width: 150px;
	height: 150px;
	margin-top: -60px;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
}
.menu:hover {
	text-decoration: none;
	color: #212432;
}

.header-menu {
	font-size: 13px;
	height: 60px;
	letter-spacing: 0.5px;
	margin-top: 5px;
	margin-right: 20px;
}
.menu {
	color: #212432;
	font-weight: 600;
	/* height: 70px; */
}
.header-menu:hover {
	border-bottom: 3px solid blue;
}
.header div ul {
	display: flex;
}
.sub-menu {
	display: flex;
	height: 150px;
	width: 100vw;
	margin-top: 20px;
	align-items: center;
	padding-left: -10%;
	justify-content: center;
}
ul li ul.sub-menu {
	min-width: 100%;
	background: #313443;
	display: none;
	position: absolute;
	z-index: 999;
	left: 0;
}
ul li:hover ul.sub-menu {
	display: flex;
	color: #fff;
}
.menu-content {
	color: white;
	margin: 30px;
	height: 150px;
	width: 100%;
	font-family: Maison Neue, Helvetica Neue, Helvetica, Arial, Lucida Grande,
		sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.menu-content i {
	font-size: 25px;
}
.sub-menu li a:hover {
	background-color: #151a2b;
}

.menu-login {
	margin-left: 10%;
	display: flex;
	width: 300px;
}
/* .menu {
    margin-top: -30px;
} */
.dashboard {
	width: 17vw;
	margin-top: 60px;
	align-items: center;
	padding-left: -10%;
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	padding: 20px;
}
.menu-img {
	height: 50px;
	width: 50px;
	border-radius: 25px;
	margin: 10px;
	margin-top: -15px;
}
ul li ul.dashboard {
	min-width: 15vw;
	background: #313443;
	display: none;
	position: absolute;
	z-index: 999;
	left: 0;
	margin-left: 75vw;
}
ul li:hover ul.dashboard {
	display: block;
	color: #fff;
}
.menu-login div {
	line-height: 15px;
}
.dashboard li a {
	color: white;
	font-weight: 600;
}
.dashboard-dash {
	display: flex;
	/* justify-content: center; */
	align-items: center;
}
.login div:nth-child(2) {
	font-size: 1.2em;
	line-height: 20px;
}
.btn {
	height: 40px;
	width: 150px;
	border-radius: 5px;
	background: #238dc1;
	color: #fff;
	margin: 10px auto;
	text-align: center;
}
.last-logo {
	display: flex;
}
.material-icons-outlined {
	margin-left: 15px;
	width: 40px;
}

/* ::content */

.image1 {
	margin-top: 105px;
	position: absolute;
	z-index: -1;
}
.image1 img {
	width: 100vw;
	height: 100vh;
}
.image-content {
	position: absolute;
	width: 28%;
	margin: 15%;
	font-family: Maison Neue, Helvetica Neue, Helvetica, Arial, Lucida Grande,
		sans-serif;
	color: #fff;
}
h1 {
	font-size: 50px;
}
h5 {
	font-size: 20px;
	color: #212432;
	font-weight: 600;
}
/* .before-wrapper { */
    /* display: block;
    justify-content: center; */
    /* width: fit-content;
    margin: auto;
} */
.wrapper {
    display: flex;
    /* position: absolute; */
    flex-wrap: wrap;
    width: fit-content;
    justify-content: center;
    margin: 0 9%;
    /* background: #44485e; */
    /* margin-top: 700px; */
}
.wrapper-div {
	width: 300px;
	height: 260px;
	margin: 0.5px;
	background: #313444;
	padding: 40px;
}
.wrapper-div > h5 {
	color: #fff;
	margin-top: 20px;
	font-size: 30px;
}
p {
	color: #d8d3d3;
	line-height: 40px;
}
.wrapper div:hover {
	background: #151a2b;
}
.useLess {
	height: 160vh;
}

.material-icons-outlined {
	margin-left: 8px;
}

.last-logo span {
	margin-top: 5px;
	font-size: 1.2em;
	font-weight: 600;
	color: #6c96cb;
}

/* footer */

.footer {
    height: 95vh;
    width: 100vw;
    background: #212432;
    padding-top: 10rem;
    padding-bottom: 6rem;
    padding-left: 6rem;
    padding-right: 8rem;

    /* margin-bottom: 50px; */
}
h2 {
	/* display: block; */
	font-size: 1.5em;
	margin-block-start: 0.83em;
	margin-block-end: 0.83em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	/* font-weight: bold; */
}

.footer-div1 {
	display: flex;
	justify-content: space-between;
    margin-bottom: 50px;
    flex-wrap: wrap;
}
.footer-div1-border {
	padding-top: 50px;
	border-top: 1px solid #514166;
}
.footer-div1 h2 p {
	width: 200px;
	font-size: 1.4rem;
	color: #858282;
}
.footer-div1-list {
	margin-bottom: 2rem;
	line-height: 1.2em;
	margin-top: -50px;
	display: flex;
    margin-right: 5%;
    flex-wrap: wrap;
}
.footer-div1-list ul {
	margin: 0 20px;
}
.footer-div1-conta {
	font-size: 1.3rem;
	color: #7b7f92;
	color: #a7aabb;
	letter-spacing: 0.05em;
}
.footer-div1-conta1 {
	font-size: 1.3rem;
	color: #fffefe;
	font-weight: 600;
}
.app {
	width: 300px;
	display: flex;
}
.app-logo {
	color: white;
	font-size: 25px;
	margin-right: 20px;
	/* width: 50px; */
}
