body {
	/* background-color: aquamarine; */
	font-family: Maison Neue, Helvetica Neue, Helvetica, Arial, Lucida Grande,
		sans-serif;
	position: relative;
	top: 0;
	left: 0;
	right: 0;
}
.box-1 {
	display: flex;
	width: 80%;
	height: 600px;
	flex-direction: row;
	text-align: center;
	justify-content: center;
	/* border: 1px solid red; */
	margin: auto;
}
.content {
	/* border: 1px solid black; */
	width: 50%;
	height: 100%;
}
.para {
	margin-top: 30%;
}
.para > span {
	font-size: 38px;
}
.para-1 {
	/* border: 1px solid red; */
	width: 72%;
	text-align: start;
	margin-left: 15%;
	color: black;
}
.btn {
	width: 36%;
	height: 40px;
	border: none;
	border-radius: 10px;
	background-color: #4296cb;
	color: white !important;
	transition-duration: 1s;
}
.btn:hover {
	background-image: linear-gradient(
		to right top,
		#4296c3,
		#3e98d4,
		#3999d5,
		#349bd6,
		#2f9ce7
	);
}
.image {
	/* border: 1px solid rebeccapurple; */
	width: 50%;
	height: 100%;
}
#img-1 {
	width: 590px;
	height: 590px;
	margin: 5px 5px;
}
.box-2 {
	display: flex;
	width: 80%;
	height: 600px;
	flex-direction: row-reverse;
	text-align: center;
	justify-content: center;
	/* border: 1px solid red; */
	margin: auto;
}
.All-Cards {
	/* position: relative; */
	background-color: #f0f4f6;
	width: 100%;
	height: 600px;
	margin-top: 10em;
	/* border: 1px solid red; */
}
.cards-line {
	margin: 1% 12%;
	color: black;
}
#card-h2 {
	font-size: 50px;
	margin-top: 100px !important;
}
.cards {
	display: flex;
	/* border: 2px solid red; */
	flex-wrap: wrap;
	justify-content: center;
	/* margin: 3% 10%; */
}
.card {
	width: 290px !important;
	/* //change to px */
	height: 400px;
	margin-right: 10px;
	/* border: 2px solid red; */
}
.card-image {
	width: 100%;
}
.anchor-tag {
	color: black;
}
.card-content {
	/* border: 1px solid black; */
	width: 100%;
	height: 90%;
	background-color: white;
	transition-duration: 1s;
}
.card-content:hover {
	border: 2px solid #4296cb;
}
a:link {
	text-decoration: none;
}

.price {
	background-color: white;
	/* border: 1px solid red;  */
}
.price > span {
	font-size: 15px;
}
.Big-Banner {
	width: 100%;
	height: 1000px;
	background-color: #222533;
	color: white;
	border: 1px solid white;
	text-align: center;
}
.Big-Banner > p {
	color: lightgray;
	margin-top: 10%;
}
.para-2 {
	/* border: 2px solid white; */
	display: block;
	width: 53%;
	margin: 2% 24%;
	padding: 2%;
}
.flex-digit {
	display: flex;
	margin: auto 15%;
	width: 70%;
	height: 300px;
	/* border: 1px solid green; */
	justify-content: center;

	text-align: center;
}
.digit-box {
	/* border: 1px solid whitesmoke; */
	margin: 0 2%;
}
.digit {
	font-size: 80px;
	font-style: normal;
	color: #91eeda;
}
.testimonails {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 800px;

	background-color: #f1f6f8;
}
#men-image {
	padding-top: 84px;
}
.bodybuilder {
	display: block;
	flex-wrap: wrap;

	width: 40%;
	height: 40%;
	margin: auto 5%;
	text-align: center;
}
.bodybuilder > p {
	color: #8cb9d6;
}
#testi-para {
	font-size: 30px;
}
.Company-banner {
	width: 100%;
	height: 200px;
	background-color: white;
}
.Company-banner {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	text-align: center;
	justify-content: space-around;
	/* margin-top: 200px; */
	/* border: 1px solid red; */
}
.company-name {
	margin-top: 90px;
}
#company-para {
	margin-left: 47%;
}
/*   oon hover give text decoration */
.ready-banner {
	position: relative;
	justify-content: center;
	width: 100%;
	height: 220px;
	background-image: linear-gradient(
		to right top,
		#31b3ce,
		#30adcf,
		#33a7cf,
		#38a1ce,
		#409bcc
	);
}
.ready-content {
	position: absolute;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	color: white;
	width: 80%;
	height: 150px;
	/* border: 3px solid red; */
	bottom: 0;
	left: 90px;
}
#start-btn {
	width: 250px;
	height: 50px;
	border-radius: 10px;
	background-color: black;
	color: white;
	display: block;
	margin-top: 30px;
	margin-left: 70%;
	border: none;
	transition-duration: 2s;
}
.ready-para {
	margin-top: 30px;
	font-size: 30px;
	color: white;
}
#start-btn:hover {
	background-image: linear-gradient(
		to right top,
		#0e0e0f,
		#13161a,
		#131c24,
		#0f242d,
		#062c34
	);
}

/* Himanshu----------------------------------------------------------------------------------- */

.image1 {
	margin-top: 105px;
	position: absolute;
	z-index: -1;
}
.image1 img {
	width: 100vw;
	height: 100vh;
}
.image-content {
	position: absolute;
	width: 28%;
	margin: 15%;
	font-family: Maison Neue, Helvetica Neue, Helvetica, Arial, Lucida Grande,
		sans-serif;
	color: #fff;
}
h1 {
	font-size: 50px;
}
h5 {
	font-size: 20px;
	color: #212432;
	font-weight: 600;
}
.wrapper {
	width: 85%;
	display: flex;
	position: absolute;
	flex-wrap: nowrap;
	justify-content: center;
	margin: 0 9%;
	/* background: #44485e; */
	margin-top: 700px;
}
.wrapper-div {
	width: 300px;
	height: 260px;
	margin: 0.5px;
	background: #313444;
	padding: 40px;
}
.wrapper-div > h5 {
	color: #fff;
	margin-top: 20px;
	font-size: 30px;
}
p {
	color: #d8d3d3;
	line-height: 40px;
}
.wrapper div:hover {
	background: #151a2b;
}
.useLess {
	height: 160vh;
}
