body {
	font-family: Maison Neue, Helvetica Neue, Helvetica, Arial, Lucida Grande,
		sans-serif;
	background-color: #f0f4f6;
	margin: 0;
}

.cont {
	margin: 0;
}

.top {
	padding: 16em 0 5em 5em;
	background-color: white;
}

.top p {
	color: rgb(92, 92, 92);
}

.top h1 {
	font-weight: 400;
	font-size: 4em;
}

.useless {
	margin-top: 100px;
}

.main {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 97%;
	margin: 3em auto;
}

.card {
	position: relative;
	width: 300px;
	margin: 0.3em;
	background-color: white;
	overflow: hidden;
	transition: box-shadow 0.35s ease-out;
	font-size: 13px;
}

.card img {
	width: 100%;
	border-bottom: 1px solid #f0f4f6;
}
.card__content {
	width: 90%;
}
.card__content p {
	font-size: 13px;
	color: #4296cb;
	font-weight: 300;
}

.card__content h4 {
	font-weight: 600;
	color: #2c2e3a;
	font-size: 1.2em;
}

.card__bottom {
	width: 88%;
	display: flex;
	position: absolute;
	bottom: 0em;
	left: 1em;
	z-index: 10;
	padding: 1.5rem;
	/* padding: 1.2em; */
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	justify-content: space-between;
	align-items: center;
	background-color: white;
}

.fa-heart {
	font-size: 1.3em;
	color: #a7aabb;
	cursor: pointer;
}
.fa-heart:hover {
	color: red;
	font-size: 1.6em;
}
.fa-calendar {
	font-size: 1.3em;
	color: #a7aabb;
	cursor: pointer;
}
.fa-calendar:hover {
	color: skyblue;
	font-size: 1.6em;
}
.card__content {
	padding: 1.2em;
	background-color: white;
	margin-bottom: 3em;
	/* transition: all 0.5s ease-out; */
	/* -webkit-transition: -webkit-transform 0.35s ease-out;
	transition: -webkit-transform 0.35s ease-out;
	-o-transition: transform 0.35s ease-out; */
}

/* .card__bottom:hover {
	position: relative;
	bottom: 0;
} */

.card:hover .card__content {
	position: absolute;
	z-index: 9;
	top: -80px;
	overflow: hidden;
	left: 0;
	animation: mymove 1s;
	animation-fill-mode: none;
	/* height: 100%; */
	/* bottom: 0; */
}
@keyframes mymove {
	from {
		top: 100px;
	}
	to {
		top: -80px;
	}
}

.content__hidden {
	list-style: none;
	padding-left: 0;
	display: none;
	opacity: 0;
	background-color: white;
	transition: opacity 0.35s ease-out;
	transition-timing-function: ease;
}

.card:hover .content__hidden {
	display: block;
	opacity: 1;
	/* transition: opacity 0.35s ease-out; */
	transition-timing-function: ease;
}

.content__hidden li {
	font-size: 0.9em;
	margin-top: 10px;
}
.content__hidden span {
	display: block;
}

.term {
	color: #878592;
	/* font-size: 13px; */
	line-height: 15px;
}

.def {
	font-weight: 500;
	/* font-size: 13px; */
}
.card:hover {
	box-shadow: 0px 0px 0px 3px rgba(66, 150, 203, 1);
}

/* calender css-------------------------------------------------------- */

.dynamicCal {
	width: 60%;
	height: 70vh;
	/* padding: 50px; */
	box-shadow: 2px -21px 400px 200px rgba(88, 106, 215, 0.7);
	position: fixed;
	z-index: 1000;
	margin: 9% 20%;
	background: #f0f4f6;
	display: none;
}
.dynamicCal1 {
	width: 50%;
	height: 60vh;
	/* padding: 50px; */
	box-shadow: 2px -2px 40px 20px rgba(44, 46, 58, 0.7);
	position: fixed;
	z-index: 100100;
	margin: 12% 25%;
	background: #f0f4f6;
	display: none;
	text-align: center;
	font-size: 25px;
	font-weight: 600;
}

.cross-btn {
	font-size: 25px;
	border: none;
	float: right;
	margin: 15px;
}
.cal {
	height: 90%;
	width: 90%;
	/* margin-top: 5%; */
	margin-left: 5%;
}

.calender-header {
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.calender-header button {
	height: 30px;
	width: 100px;
	border: none;
	margin: 20px;
}
#cal {
	display: grid;
	grid-template-columns: repeat(7, auto);
	/* grid-template-rows: repeat(5, auto); */
	height: 100%;
}

.day {
	text-align: center;
	padding: 5px;
	font-size: 13px;
	cursor: pointer;
	transition: background-color 200ms, color 200ms;
	height: 45px;
	border-bottom: 1px solid lightgray;
	border-right: 1px solid lightgray;
	text-align: right;
	padding-right: 15px;
	background: #4aa8ce;
	color: white;
}
.day:hover {
	background: #05597a;
}
.today-day {
	text-align: center;
	padding: 5px;
	font-size: 13px;
	cursor: pointer;
	height: 45px;
	border-bottom: 1px solid lightgray;
	border-right: 1px solid lightgray;
	text-align: right;
	padding-right: 15px;
	background: #30305c;
	color: white;
}
.prev-day {
	text-align: center;
	padding: 5px;
	font-size: 13px;
	cursor: pointer;
	transition: background-color 200ms, color 200ms;
	height: 45px;
	border-bottom: 1px solid lightgray;
	border-right: 1px solid lightgray;
	text-align: right;
	padding-right: 15px;
	color: rgb(219, 212, 212);
}

.selected {
	background-color: lightblue;
	color: white;
}
.days {
	display: grid;
	grid-template-columns: repeat(7, auto);
	padding: 0 50px;
	border-bottom: 1px solid lightgray;
	border-top: 1px solid lightgray;
}
.days div {
	font-size: 1.1rem;
	margin-left: 10px;
}
.daysName {
	text-align: right;
	margin-right: 20px;
	margin-top: 18px;
	font-size: 13px;
	height: 30px;
}
#month {
	margin-top: 25px;
}
